/*General*/
h1 {
  font-family: "krul";
  font-size: 4em;
  font-weight: 50;
  margin: 0;
}

p, li {
  font-family:"adobe-garamond-pro";
  font-size: 1.1em;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/*NavBar*/
/* Style for the navigation bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;

  svg{
    height: 80px;
    width: 80px;
  }
}

#close{
  height: 55px;
  width: 55px;
  margin-top: 25px;
  transition: 400ms ease;
}

#menu{
  height: 100px;
  width: 100px;
  transition: 400ms ease;
}

.topbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-left: 45px;
  margin-right: 25px;
}

.navbar.open {
  background-color: #f3f2e9; 
  .menu-button{
    color: #3d4d25;
    display: flex;
    justify-content: end;
  }
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: -10px;
  transition: height 0.3s ease-out;
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.menu.open {
  height: 200px; 
  background-color: #f3f2e9;
  transition: height 0.3s ease-in;
}

.menu li a {
  display: block;
  padding: 10px;
  color: #3d4d25;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #555;
}

/*Home Page*/
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  margin-top: 150px;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p{
    margin: 0;
  }
}

