/*General*/
h1 {
  font-family: "krul";
  font-size: 4em;
  font-weight: 50;
  margin: 0;
}

p, li {
  font-family:"adobe-garamond-pro";
  font-size: 1.1em;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/*NavBar*/
/* Style for the navigation bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;

  svg{
    height: 80px;
    width: 80px;
  }
}

#close{
  height: 55px;
  width: 55px;
  margin-top: 25px;
  transition: 0.3 ease;
}

#menu{
  height: 100px;
  width: 100px;
  transition: 0.3s ease-out;
}

.topbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-left: 45px;
  margin-right: 25px;
}

.navbar.open {
  background-color: #f3f2e9; 
  .menu-button{
    color: #3d4d25;
    display: flex;
    justify-content: end;
  }
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: -10px;
  transition: height 0.3s ease-out;
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 35px;
}

.menu.open {
  height: 200px; 
  background-color: #f3f2e9;
  transition: height 0.3s ease-in;
}

@media screen and (max-width: 768px) {
	.menu.open {
	  flex-direction: column;
    height: 60vh;
    padding-top: 5vh;
    justify-content: start;
    align-items: center;
    gap: 10px;
	}
}

.menu li a{
  display: none;
}

.menu.open li a {
  color: #3d4d25;
  transition: ease 400ms;
  text-decoration: none;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 15px;
  position: relative;
}

.menu li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #3d4d25;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu li a:hover:after { 
  width: 100%; 
  left: 0; 
}


#ds-logo{
  transition: ease 400ms;
  cursor: pointer;
}

#ds-logo:hover {
  opacity: 50%;
}

@media screen and (max-width: 768px) {

  .topbar{
    padding-top: 30px;
  }

  #ds-logo, #close{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #ds-logo{
    height: 4em;
  }

  #close{
    margin-top: 0;
    height: 2.5em;
  }
}

/*Home Page*/
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 1;
  margin-top: 150px;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p{
    margin: 0;
  }
}



/*Gifts Page*/
.gifts{
  background-color: #3d4d25;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1{
    font-family: 'adobe-garamond-pro';
    font-size: 10em;
  }

  h1, p{
    color: #f3f2e9;
  }

  .registry{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
  }
}


/*RSVP Page*/
.rsvp{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
  }

  video{
    z-index: -1;
  }

  .photo{
    position: relative;
    width: 100%; 
    max-width: 600px; 
    margin: auto;
    margin-top: 20px;

    .img-1, .img-2 {
      position: absolute;
      object-fit: cover;
    }

    .img-1 {
      width: 60%;
      left: 0;
      top: 80px;
      z-index: 4;
    }

    .img-2 {
      width: 90%;
      left: 20%;
      top: 0;
    }
  }

  .info{
    background-color: #f3f2e9;
    color: #576641;
    padding-left: 6em;
    padding-bottom: 50px;
    padding-top: 50px;

    h1{
      font-family: 'adobe-garamond-pro';
      font-size: 10em;
    }

    .sign-in{
      display: none;
    }

    .verify p{
      width: 90%;
      color: #576641;
    }

    input{
      background-color: #576641;
      border-radius: 20px;
      border: none;
      font-family:"adobe-garamond-pro";
      padding: 10px 65px 10px 10px;
    }
    ::placeholder {
      color: #f3f2e9;
    }
  }

}

